---
import applications from "../../data/applications";
import StaffLayout from "../../layouts/StaffLayout.astro";
---

<StaffLayout>
	<main>
		<div class="grid grid-cols-1 md:grid-cols-2 place-items-center gap-2">
			{
				applications
					.sort((a, b) => a.positionId.localeCompare(b.positionId))
					.map((x) => {
						return (
							<div class="card w-96 bg-base-100 shadow-xl">
								<div class="card-body">
									<h2 class="card-title">
										{x.position} (#{x.positionId})
									</h2>
									<p>Application #{x.id}</p>
									<div class="card-actions justify-end">
										<a
											class="btn btn-primary text-white"
											href={`/staff/application/${x.id}`}
										>
											Review
										</a>
									</div>
								</div>
							</div>
						);
					})
			}
		</div>
	</main>
</StaffLayout>
