---
import applications, { Application } from "../../../data/applications";
import AuthedLayout from "../../../layouts/AuthedLayout.astro";

const { id } = Astro.params;

export interface Props {
	application: Application;
}

const { application } = Astro.props;

export async function getStaticPaths() {
	return applications.map((application) => ({
		params: { id: application.id },
		props: { application },
	}));
}

const grammarScore = application.data.grammarScore;
const grammarScorePercentage = grammarScore * 100;
---

<AuthedLayout stakeholder="Staff">
	<div class="mx-10">
		<h2 class="text-xl mt-5 text-primary">Application #{id}</h2>
		<div class="flex flex-col w-full py-4">
			<div class="text-lg">Grammar and spelling</div>
			<div class="flex items-center gap-5">
				<progress
					class={`progress ${
						grammarScorePercentage < 60
							? "progress-warning"
							: "progress-success"
					}`}
					value={grammarScorePercentage}
					max="100"></progress>
				<div>{grammarScorePercentage}%</div>
			</div>
			<div class="divider"></div>
			<div><h2 class="text-lg">Content</h2></div>
			<div class="divider"></div>
			<div class="card w-96 bg-base-100 self-center shadow-xl">
				<div class="card-body">
					<h2 class="card-title">Likely a good hire</h2>
					<span class="">70% overall applicant score</span>
					<progress class="progress progress-info w-full" value="70" max="100"
					></progress>
					<div class="card-actions justify-between px-10 mt-5">
						<a class="btn btn-success" href="/staff/success">Accept</a>
						<a class="btn" href="/staff/success">Reject</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</AuthedLayout>
