---
import Layout from "../layouts/Layout.astro";
---

<Layout title="hAIre!">
	<main class="flex flex-col mt-20 items-center">
		<div class="grid grid-cols-2 gap-10">
			<a href="/staff" class="btn btn-primary text-white">Staff</a>
			<a href="/applicant" class="btn btn-secondary text-white">Applicant</a>
		</div>
	</main>
</Layout>
