---
import type { ScoredSentence } from "../data/applications";

export interface Props {
	title: string;
	sentences: {
		positiveSentences: ScoredSentence[];
		negativeSentences: ScoredSentence[];
	};
}

const { title, sentences } = Astro.props;
---

<div class="underline py-2">{title}</div>

<ul class="gap-1 grid grid-cols-2">
	{
		sentences.positiveSentences.map((x) => (
			<li
				class={`flex justify-start items-center gap-1 text-sm col-start-1 col-span-1`}
			>
				<div class="text-base">{x.text}</div>
				<div
					class={`scale-75 radial-progress`}
					style={`--value:${x.score * 2 * 100};`}
				>
					{x.score * 2 * 100}%
				</div>
			</li>
		))
	}
	{
		sentences.negativeSentences.map((x) => (
			<li
				class={`flex justify-start items-center gap-1 text-sm col-start-2 col-span-1`}
			>
				<div class="text-base">{x.text}</div>
				<div
					class={`scale-75 radial-progress`}
					style={`--value:${x.score * 2 * 100};`}
				>
					{x.score * 2 * 100}%
				</div>
			</li>
		))
	}
</ul>
