---
import ProgressBar from "../../components/ProgressBar.astro";
import ApplicantLayout from "../../layouts/ApplicantLayout.astro";
---

<ApplicantLayout>
	<main class="mx-5 my-3">
		<h2 class="text-xl text-primary underline">
			Senior Software Engineer - Application #1282
		</h2>
		<div class="flex items-center gap-10 justify-center">
			<div class="card my-3 w-full bg-base-100 shadow-xl image-full">
				<figure>
					<img src="/arch.jpeg" alt="Arch" />
				</figure>
				<div class="card-body">
					<h2 class="card-title text-3xl">No Worries!</h2>
					<p class="text-xl text-base-100 text-center mt-10">
						Success is not final, failure is not fatal; it is the courage to
						continue that counts.
					</p>
				</div>
			</div>
		</div>
		<div class="shadow-md bg-white px-3 py-2 rounded-lg">
			<div class="text-lg">
				<div class="badge text-white badge-primary">
					Successful applicant characteristics
				</div>
			</div>
			<div class="my-3 flex flex-row justify-center">
				<div class="grid py-3 grid-cols-2 gap-4">
					<div>
						<h3 class="text-secondary font-semibold">Top Skills</h3>
						<ul class="px-3">
							<li>- C#</li>
							<li>- relational databases</li>
							<li>- clean architecture</li>
						</ul>
					</div>
					<div class="">
						<h4 class="text-secondary font-semibold">Highest Education</h4>
						<div class="flex flex-row justify-start items-center gap-2">
							<div class="radial-progress text-success" style="--value:70;">
								70%
							</div>
							<div>M.Sc. CS</div>
						</div>
					</div>
					<div>
						<h4 class="text-secondary font-semibold">Years Of Experience</h4>
						<ProgressBar label="2" value="30" type="success" />
						<ProgressBar label="3" value="40" type="success" />
						<ProgressBar label="4" value="60" type="success" />
						<ProgressBar label="5+" value="50" type="success" />
					</div>
					<div>
						<h4 class="text-secondary font-semibold">Prior position</h4>
						<ProgressBar label="Junior Developer" value="25" type="success" />
						<ProgressBar label="Software Engineer" value="45" type="success" />
						<ProgressBar label="Senior Developer" value="70" type="success" />
					</div>
				</div>
			</div>
		</div>
		<div class="mt-2 py-3 px-3 bg-base-200 shadow-md rounded-lg">
			<div class="badge badge-outline">
				Potential for improvement in your application
			</div>
			<div class="px-1 my-1">
				<div>
					<span class="underline text-primary">Grammar and Spelling</span>
					<p class="italic">
						There were some grammatical errors in your letter of application
					</p>
				</div>
				<div class="py-1">
					<span class="underline text-primary">Missing skills</span>
					<ul class="list-disc px-5">
						<li>Docker</li>
						<li>NoSql Databases</li>
						<li>Cloud architecture</li>
					</ul>
				</div>
				<div>
					<span class="underline text-primary">Years of experience</span>
					<p class="italic">
						We noticed that you do not have the minimum years of experience
						required for the open position.
					</p>
				</div>
			</div>
		</div>
	</main>
</ApplicantLayout>
