<div class="navbar shadow-lg">
	<div class="flex-1">
		<a class="btn btn-ghost normal-case text-xl" href="/">hAIre!</a>
	</div>
	<div class="flex-none">
		<div class="dropdown dropdown-end">
			<label tabindex="0" class="btn btn-ghost btn-circle avatar">
				<div class="w-10 rounded-full">
					<img src="https://placeimg.com/80/80/people" />
				</div>
			</label>
			<ul
				tabindex="0"
				class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
			>
				<li><a>Logout</a></li>
			</ul>
		</div>
	</div>
</div>
