---
import Header from "./Header.astro";
---

<!DOCTYPE html>
<html lang="en" data-theme="dracula" class="container">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>hAIre!</title>
	</head>
	<Header>
		<slot name="menu-items" />
	</Header>
	<body>
		<slot />
	</body>
</html>
