---
export interface Props {
	stakeholder: string;
}

const { stakeholder } = Astro.props;
const otherStakeholder = stakeholder === "Staff" ? "Applicant" : "Staff";
---

<div class="flex-none">
	<ul class="menu menu-horizontal pr-3">
		<li>{stakeholder}</li>
	</ul>
	<div class="dropdown dropdown-end">
		<label tabindex="0" class="btn btn-ghost btn-circle avatar">
			<div class="w-10 rounded-full">
				<img src={`/public/${stakeholder}.jpeg`} />
			</div>
		</label>
		<ul
			tabindex="0"
			class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
		>
			<li>
				<a href={`/${otherStakeholder.toLocaleLowerCase()}`}
					>Switch to {otherStakeholder}
				</a>
			</li>
			<li>
				<a>Logout</a>
			</li>
		</ul>
	</div>
</div>
